:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}

body {
  font-family: "Roboto";
  letter-spacing: 0.03em;
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__section {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header__logo--black {
  color: var(--black-logo-color);
}

.nav {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:focus, .nav__link:hover {
  color: var(--accent-color);
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__link--current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--accent-color);
}

.header-contact {
  display: flex;
}

.header-contack__list {
  margin-left: auto;
}

.header-contact__item + .header-contact__item {
  margin-left: 50px;
}

.header-contact__link {
  display: inline-flex;
  padding: 32px 0px 32px;
  /* color: var(--secondary-text-color); */
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__link:hover, .header-contact__link:focus {
  color: var(--accent-color);
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-color: var(--hero-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero__btn {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var(--white-text-color);
  color: var(--accent-color);
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-list__item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}

.features-list__icon-fon {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: var(--team-background-color);
}

.features-list__icon {
  align-items: center;
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.work {
  padding-bottom: 94px;
}

.work__title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-list__item {
  position: relative;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-background-color);
}

.team__title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-background-color);
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__workers {
  padding: 30px 0px;
}

.team-list__worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__profession {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-list__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;
  margin-top: 16px;
  list-style: none;
}

.team-list__social-item {
  width: 44px;
  height: 44px;
}

.team-list__social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list__social-link:hover, .team-list__social-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.team-list__social-icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.client__list {
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.customers {
  display: flex;
}

.customers__item {
  width: 170px;
  height: 90px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customers__item:focus, .customers__item:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers__link {
  display: block;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  background-color: #fff;
  padding: 16px 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:focus, .customers__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background-color);
}

.footer__flex {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__logo--white {
  color: var(--white-text-color);
}

.footer-contact {
  margin-top: 20px;
}

.footer-contact__address {
  color: var(--white-text-color);
}

.footer-contact__item {
  margin-top: 9px;
}

.footer-contact__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact__link:hover, .footer-contact__link:focus {
  color: var(--accent-color);
}

.social-section {
  margin-left: 80px;
  width: 206px;
}

.social-section__text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 0;
  list-style: none;
}

.footer-list__item {
  width: 44px;
  height: 44px;
}

.footer-list__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #ffffff10;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__link:hover, .footer-list__link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.footer-list__icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}

.footer-submit {
  margin-left: 93px;
}

.footer-submit__text {
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-submit__input {
  width: 358px;
  margin: 0;
  padding: 13px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--hero-background-color);
  color: var(--white-text-color);
}

.footer-submit__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0;
  padding: 8px 29px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-height: 43px;
  margin-left: 12px;
}

.footer-submit__btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-description {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
}

.portfolio-btn {
  display: inline-block;
  min-width: 73px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--team-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover, .portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-item {
  margin: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-border {
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: var(--black-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-btn:hover .modal-icon {
  fill: var(--accent-color);
}

.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.top-title {
  margin-top: 12px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label,
.comment-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus ~ .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(25%);
  display: inline-block;
  width: 12px;
  height: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:focus {
  border-color: var(--accent-color);
}

.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field-chek {
  padding-left: 14px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.icon-chek {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.form-checkbox:checked + .icon-chek {
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--accent-color);
  background-origin: border-box;
  border-color: var(--accent-color);
}

.policy-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.policy-link {
  margin-left: 4px;
  color: #2196f3;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 56px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:focus, .form-btn:hover {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */