.features {
  // padding-top: 94px;
  // padding-bottom: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-list {
  display: block;

  @media screen and (min-width: 320px) {
    width: 290px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

// .features-list__item {
//   &:not(:last-child) {
//     margin-right: 30px;
//     max-width: 270px;
//   }
// }


.features-list__item {
  margin-left: 15px;
  margin-right: 15px;
  
  @media screen and (min-width: 320px) {
    width: 290px;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media (min-width: 768px) {
    width: 354px;
    // flex-basis: calc((100% - 30px) / 2);
  }
}

.features-list__icon-fon {
  display: flex;

  // width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;

  background-color: var(--team-background-color);

  @media screen and (min-width: 320px) {
    width: 290px;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }
}

.features-list__icon {
  align-items: center;
}

.features-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}
