.header {
  border-bottom: 1px solid #ececec;

   @media screen and (max-width: 767px) {
    padding-top: 16px;
  padding-bottom: 16px;
  }
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 767px) {
    max-width: 767px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header__logo {
  &--black {
    color: var(--black-logo-color);
  }
}

.nav {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link {
  &:focus,
  &:hover {
    color: var(--accent-color);
  }

  &--current {
    color: var(--accent-color);

    &::after {
      position: absolute;

      display: block;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      bottom: -1px;

      background-color: var(--accent-color);
    }
  }
}

.header-contact {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    align-content: center;
  }
}

.header-contack__list {
  margin-left: auto;
}

.header-contact__item + .header-contact__item {
  margin-left: 50px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 0px;
  }
}

.header-contact__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 0px;
  }
}

.header-contact__link {
  display: inline-flex;
  padding: 32px 0px 32px;
  /* color: var(--secondary-text-color); */
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  padding: 15px 10px 48px 40px;
  z-index: 999;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-list__link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: #212121;

  &:focus,
  &:hover {
    color: var(--accent-color);
  }

  &--current {
    color: var(--accent-color);
  }
}

.mob-menu-list__tell {
  display: block;
  margin-bottom: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-list__mail {
  display: block;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;

  margin-bottom: 64px;
}

.mob-menu-list__social {
  display: flex;
  flex-direction: row;

  column-gap: 20px;
}

.mob-menu-list__social-item {
  position: relative;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #2196f3;

  &:not(:first-child)::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
