.work {
  padding-bottom: 94px;
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.work__title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.work-list__item {
  position: relative;
}

.work-list__text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 27px 0px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
