.backdrop {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(2);
}

.modal {
  width: 320px;
  min-height: 581px;
  background-color: #ffffff;

  position: relative;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.modal-icon {
  fill: var(--black-logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  right: 8px;
  top: 8px;
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;

  &:hover .modal-icon {
    fill: var(--accent-color);
  }
}

.form {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.top-title {
  margin-top: 12px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label,
.comment-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
  }

  &:focus ~ .input-icon {
    fill: var(--accent-color);
  }
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(25%);

  display: inline-block;
  width: 12px;
  height: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  height: 120px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
  }
}

.comment {
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgb(117, 117, 117);
  }
}
.form-field-chek {
  padding-left: 0px;
  margin-top: 25px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding-left: 14px;
  }
}

.icon-chek {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.form-checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  &:checked + .icon-chek {
    background-image: url(../images/icon-check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--accent-color);
    background-origin: border-box;
    border-color: var(--accent-color);
  }
}

.policy-label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 1.14;
  color: var(--secondary-text-color);

  @media screen and (max-width: 479px) {
    font-size: 10px;
    line-height: 1.11;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-link {
  margin-left: 3px;
  color: rgba(33, 150, 243, 1);

  @media screen and (max-width: 479px) {
    position: absolute;
    top: 18px;
    left: 21px;
  }
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  padding: 10px 56px;

  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}
