$mainFont: "Roboto";
$secondaryFont: "Raleway";

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}